<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

<html>
<head>
    <title>Auteematic</title><!-- Just for testing purposes -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"><!-- for slider bars -->
	<link rel="stylesheet" href="../../css/style.css" type="text/css">
	
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="../../js/draggabilly.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
	<script src="../../js/iris.min.js"></script>
	<script type="text/javascript" src="../../js/script.js"></script>
	
	<script type="text/javascript">
	// Data for Paul's templates
	var templates = [
		{
			id: 1,
			fields: "first-name",
			html: '<div style="transform:rotate(-9deg);-ms-transform:rotate(-9deg);-webkit-transform:rotate(-9deg);"><div class="img" style="background-image: url(\'../../img/hello-name.png\');height:70px;"><div class="first-name" style="padding-top:28px;font-size:18px;font-family:\'Permanent Marker\', cursive;"><%= firstName %></div></div></div>',
			background: "panel-red item-white",
			price: 20
		},
		{
			id: 2,
			fields: "profession",
			html: '<div style="padding-top:12px;color:white;font-family:\'Roboto\', sans-serif;font-size:16px;font-weight:700"><div>trust me,</div><div>i\'m an <span class="profession"><%= profession %></span></div></div>',
			background: "panel-blue item-blue",
			price: 20
		},
		{
			id: 3,
			fields: "last-name",
			html: '<div style="font-family:\'Droid Sans\',sans-serif;color:#ffffff;font-weight:700;line-height:27px;"><div class="img" style="background-image:url(\'../../img/crown.png\');height:20px"></div><div style="font-size:25px;">PROUD</div><div style="font-size:21px;word-spacing:1px">TO BE A</div><div class="last-name uppercase" style="font-size:22px;line-height:30px"><%= lastName %></div></div>',
			background: "panel-blue item-black",
			price: 20
		},
		{
			id: 4,
			fields: "hobbie",
			html: '<div class="uppercase" style="font-size: 58px;line-height:60px;font-family: \'Francois One\', sans-serif;"><div>I <span class="img" style="display:inline-block;background-image: url(\'../../img/heart.png\');height:50px;width:57px"></span></div><div class="hobbie"><%= hobbie %></div></div></div>',
			background: "panel-green item-white",
			price: 20
		},
		{
			id: 5,
			fields: "place",
			html: '<div class="uppercase" style="padding-top:7px;font-size:23px;line-height:25px;font-family: \'Indie Flower\', cursive;"><div>Daydreaming</div><div>of</div><div class="place place-recent uppercase strong"><%= placeRecent %></div></div>',
			background: "panel-purple item-white",
			price: 20
		},
		{
			id: 6,
			fields: "major",
			html: '<div class="uppercase strong" style="padding-top:10px;font-size: 28px;line-height:30px;color:#ffffff;font-family:\'Droid Sans\', sans-serif;text-shadow: 1px 1px 0 #c6a018;"><div class="major"><%= major %></div><div>Nerd</div></div>',
			background: "panel-yellow item-blue",
			price: 20
		}
	];
	</script>
</head>



<body>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span class="sr-only">Toggle navigation</span></button> <a class="navbar-brand" href="/"><img src="../../img/button_topbar1.png"></a>
            </div><!-- Collect the nav links, forms, and other content for toggling -->

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Store</a></li>

                    <li><a href="#">About</a></li>

                    <li><a href="#">How it works</a></li>

                    <li><a href="#">Pricing</a></li>

                    <li><a href="#">Shipping</a></li>

                    <li><a href="#">Contact</a></li>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search Store">
                    </div>
                </form>
                <div class="navbar-right">
					<ul class="nav navbar-nav">
                		<li><a href="#">Logged in as Paul Graham</a></li>
                	</ul>
                </div>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="main">
        <div id="col-first" class="store-primary-col col-md-4">
            <div class="home-brand"></div>

            <div class="home-brand-secondary">
                "T-shirts made just for you"
            </div>
            
            <!-- Now, item panels go here! -->            
        </div>

        <div id="col-second" class="store-primary-col col-md-4">
			<!-- Second column! -->            
        </div>

        <div id="col-third" class="store-primary-col col-md-4">
	       <!-- Third column! -->            
        </div>

        <div class="clearfix"></div>
        
        <div id="editing-screen" style="display:none;">
        	<h2 class="edit-design-header">Edit Design</h2>
        	<div class="editing-container">
		        <div id="edit-template"></div>
		        
		        <div id="editing-pane" class="panel panel-default">
	        		<div id="editing-pane-heading" class="panel-heading">Editing panel</div>
	        		<div class="panel-body">
	        			<p>Edit your design here, using the controls below.</p>
	        			<div id="editing-options"></div>
	        		</div>
	        	</div>
	        	
	        	<div id="checkout-pane" class="panel panel-info">
	        		<div id="editing-pane-heading" class="panel-heading">Checkout</div>
	        		<div class="panel-body">
	        			<div class="checkout-price">
	        				Price: <strong>$20</strong>
	        			</div>
	        			<div class="checkout-availability">
	        				Availability: <strong>In stock</strong>
	        			</div>
	        			<div style="margin-top:10px;">
	        				<a href="#" class="btn btn-info">Order Now</a>
	        			</div>
	        		</div>
				</div>
        	</div>
        </div>
    </div><!-- main -->
    
    <%= include ../../footer_menu %>
    <%= include ../../footer %>
</body>
</html>
